@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">Welcome to Bart's Parts'</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Type</th>
      <th scope="col">Typical Piece</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3070 Graphics Card</td>
      <td>$599.99</td>
    </tr>
    <tr>
      <td>2 TB SSD</td>
      <td>$150.99</td>
    </tr>
  </tbody>
</table>